<br>
<nav class="navbar navbar-expand-md" style="background-color: #7289da; width: 100%">
 <div class="container">
  <div class="collapse navbar-collapse">
   <h1 style="font-size:100%; color: WHITE;">
     ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ© Dark Bot 2019 — Todos os Direitos Reservados<br><hr><p style="font-size:80%; color: WHITE;">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤBy using Dark™ and/or this website, you agree our <a href="/legal">Terms of Service & Privacy Policy</a><br>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤPor usar Dark™ e/ou este WebSite, você aceita nossos <a href="/legal">Termos de Serviço e Política de Privacidade</a></p>
    </h1>
    </div>
  </div>
</nav>

  </body>
</html>
