<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>

<head>
    <meta name="theme-color" content="#23272A">
  <meta property="og:title" content="Dark Bot">
  <meta property="og:url" content="https://darkdashboard.glitch.me">
  <meta property="og:description" content="Um Bot para administrar seu servidor e divertir seus membros com vários comandos e opções.">
  <meta property="og:image" content="<%= bot.user.avatarURL %>?size=128">
</head>

  <div class="container">

 <div class="jumbotron">
    <div>
      <h1 class="text-warning">Erro de Autenticação</h1>
      <p>Erro ao efetuar autenticação do cliente, tente novamente ou contate-nos através de nosso <a href="https://discord.gg/nNjA7ga">Servidor</a>  ou do <a href="https://github.com/Gugui000/ryouji/issues">GitHub</a></p>
    </div>
  </div>
