 <meta name="theme-color" content="#23272A">
  <meta property="og:title" content="Dark Bot - ChangeLog">
  <meta property="og:url" content="https://darkdashboard.glitch.me">
  <meta property="og:description" content="Versão Atual <%= version %>">
  <meta property="og:image" content="<%= bot.user.avatarURL %>?size=512">

<%- include('blocks/header', {bot: bot, user: user, auth: auth, version: version}) %>

<head>
<style>
img {
    border: 3px solid #23272A;
    border-radius: 5px;
    width="803";
    height="903";
};
</style>

</head>

<div class="container">
<div class="text-center">
  <h1 class="navbar-brand" style="font-family: 'Dosis', cursive; text-transform: none; font-size: 70px; color: #7289DA;"> Novidades</h1>
  <hr>
  <br>
<!-- 3.1.6 -->
   <img src="https://cdn.discordapp.com/attachments/470353157298323457/478929832638414859/unknown.png">
   <hr>

<!-- 3.1.6 -->
   <img src="https://eleven.sirv.com/ryoujii/3.1.6_changelog.png">
   <hr>

<!-- 3.1.5 -->
  <img src="https://media.discordapp.net/attachments/470359667420299274/475082104695160862/unknown.png">
  <hr>

<!-- 3.1.3 -->
   <img src="https://cdn.discordapp.com/attachments/470353157298323457/471443935953420298/unknown.png">
   <hr>

<!-- 3.1.2 -->
   <img src="https://media.discordapp.net/attachments/470353157298323457/470392361856270361/unknown.png">
   <hr>
    
<!-- 3.1.1 -->
   <img src="https://media.discordapp.net/attachments/462814218576723968/466777108862074894/unknown.png">
   <hr>

<!-- 2.1.8 -->
   <img src="https://media.discordapp.net/attachments/462814218576723968/464828022290120717/unknown.png">
   <hr>


<!-- 2.1.6 -->
   

    <img src="https://media.discordapp.net/attachments/462814218576723968/462817300052049920/unknown.png">

    <hr>

  </div>
</div>

<%- include('blocks/footer')%>
